body, html {
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

button {
  margin: 0.5rem;
}

.btn-container {
  position: fixed;
  padding: 1rem 2rem 1rem 2rem;
  right: 0px;
  bottom: 0px;
}

.custom-btn {
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 0;
  border-width: 2px;
  border-color: #000;
  background-color: #fff;
  margin: 0.5rem;
}

.custom-btn:hover {
  background-color: #000;
  color: #fff;
}

.custom-btn:focus {
  box-shadow: none;
  outline: none;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.5s linear infinite;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  margin: 0
}


@-webkit-keyframes image_blur {
  0% { -webkit-filter: blur(50px);}
  50% { -webkit-filter: blur(50px);}
  100% { -webkit-filter: blur(0px);}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#sketch-div {
  -webkit-animation: image_blur 1.5s;
}
